* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: auto;  max-width: 1080px; padding-top: 10px; font-family: Open Sans;
}


.buttonHeader{
  font-size: 16px;
  border-radius: 5px;
  padding: 5px 12px 5px 12px;
  border: none;
  margin: 5px;
  cursor: pointer;
}

#popular{
  background-color:transparent;  color: black;
}


#new{
  background-color: #FF5480;
  color: white;
}

.center{
  margin: auto;text-align: center; float: right; padding-right: 50%; 
}

.left{
  margin-top: 50px;width: 1172px;
}

.column{
 width: 573px; float: left;padding-right: 5px;
}
.columnRight{
  width: 573px; text-align: right;  float: right;
}

.imageArticle{
  width: 972px; height: 607px; margin: auto;text-align: center;
}

.imageArticleSmall{
  width: 550px; 
}

.imageDetail{
  width: 1172px; height: 677.99px; margin: auto;text-align: center;
}

.imageRelatedAtas{
  width: 196.83px;float: left;
}

.columnRelatedAtas{
  width: 900px;float: right;
 }

 .imageRelatedBawah{
  width: 641px;float: right;
}

.imageRelatedBawah2{
  width: 641px; height: 360px;
}
.columnRelatedBawah{
  width: 496px;float: left;
 }

.rowArticle{
  margin-top: 50px;
}

.gray{
  color: gray;
}

.bgwhite{
  background-color: white; margin-bottom: 50px;
}

.bggrey{
  background-color: #F9F9FB;
}
.upperCase{
  text-transform:uppercase;
}

.buttonLoad{
  font-size: 24px;
  border-radius: 50px;
  padding: 5px 12px 5px 12px;
  border-color: #FF5480;
  width: 204px;
  height: 70px;
  margin-top: 80px;
  background-color:transparent; 
  color: #FF5480;
}

.buttonMore{
  background-color:transparent;
  border-color: white;
}

a{
  color: black;
  text-decoration:none;
}
a:hover 
  { color: #FF5480;}